<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.boot.zysf.api.mapper.IndustroyTupuMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.boot.zysf.api.po.IndustroyTupu">
        <id column="id" property="id" />
        <result column="parent_id" property="parentId" />
        <result column="name" property="name" />
        <result column="relation" property="relation" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, parent_id, name, ctime, utime
    </sql>
    <insert id="addData" parameterType="com.boot.zysf.api.po.IndustroyTupu" >
        INSERT INTO industroy_tupu(parent_id,name,relation)
           VALUES (
                   #{parentId},
                   #{name},
                   #{relation}


    )</insert>
</mapper>
